# Use this file to tune your cluster parameters
# For a complete reference of all variables, see variables.tf
# Commented lines are optionnal parameters at default value

# Flavor of the cluster nodes
flavor = "m1.medium"

# Snapshot to use in the cluster nodes
snapshot = "centos7-k8s-201804"

# OpenStack network name of the cluster
network = "LSST-net"

# Prefix for all instances names
instance_prefix = "benjamin-"

# Number of workers node
# nb_worker = 2

# Number of k8s master
# nb_orchestrator = 1

# Private key used to ssh on nodes
# ssh_private_key = "~/.ssh/id_rsa"

# Security group to add to nodes
# security_groups = ["default"]

# OpenStack ip pool name for floating ip
# ip_pool = "public"

# Docker registry ip
# docker_registry_host = ""

# Docker registry port
# docker_registry_port = 5000

# Amout of memory which can be locked in container (in Bytes)
# limit_memlock = "infinity"

# Base image for the snapshot
# base_image = "CentOS 7 latest"

# Flavor of the snapshot instance
# snapshot_flavor = "m1.medium" 
